<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <SnippetTypes>
        <SnippetType>Expansion</SnippetType>
      </SnippetTypes>
      <Title>TestCaseHelper</Title>
      <Author>Igor Eroshkin</Author>
      <Description>Code snippet for test case helper method</Description>
      <HelpUrl>
      </HelpUrl>
      <Shortcut>tch</Shortcut>
    </Header>
    <Snippet>
      <Imports>
        <Import>
          <Namespace>NUnit.Framework</Namespace>
        </Import>
      </Imports>
      <Declarations>
        <Literal Editable="true">
          <ID>parameters</ID>
          <ToolTip>Test case parameters</ToolTip>
          <Default>
          </Default>
          <Function>
          </Function>
        </Literal>
        <Literal Editable="true">
          <ID>arguments</ID>
          <ToolTip>Test case arguments</ToolTip>
          <Default>
          </Default>
          <Function>
          </Function>
        </Literal>
      </Declarations>
      <Code Language="csharp" Delimiter="$"><![CDATA[private static TestCaseData TestCase($parameters$)
{
	return new TestCaseData($arguments$);$end$
}]]></Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>