<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <SnippetTypes>
        <SnippetType>Expansion</SnippetType>
      </SnippetTypes>
      <Title>TestClassAbstract</Title>
      <Author>Igor Eroshkin</Author>
      <Description>Code snippet for abstract test class</Description>
      <HelpUrl>
      </HelpUrl>
      <Shortcut>tca</Shortcut>
    </Header>
    <Snippet>
      <Declarations>
        <Literal Editable="true">
          <ID>ClassName</ID>
          <ToolTip>Test class name</ToolTip>
          <Default>ClassName</Default>
          <Function>
          </Function>
        </Literal>
      </Declarations>
      <Code Language="csharp" Delimiter="$"><![CDATA[public abstract class $ClassName$Tests
{
    $end$
}]]></Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>