<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <SnippetTypes>
        <SnippetType>Expansion</SnippetType>
      </SnippetTypes>
      <Title>TestMethodWithCaseSource</Title>
      <Author>Igor Eroshkin</Author>
      <Description>Code snippet for test method with test cases source</Description>
      <HelpUrl>
      </HelpUrl>
      <Shortcut>tms</Shortcut>
    </Header>
    <Snippet>
      <Imports>
        <Import>
          <Namespace>System.Collections.Generic</Namespace>
        </Import>
        <Import>
          <Namespace>NUnit.Framework</Namespace>
        </Import>
        <Import>
          <Namespace>static EasyApi.Tests.TestUtils.TestCaseHelpers</Namespace>
        </Import>
        <Import>
          <Namespace>EasyApi.Tests.TestUtils</Namespace>
        </Import>
      </Imports>
      <Declarations>
        <Literal Editable="true">
          <ID>MethodName</ID>
          <ToolTip>Method name for testing</ToolTip>
          <Default>MethodName</Default>
          <Function>
          </Function>
        </Literal>
        <Literal Editable="true">
          <ID>TestName</ID>
          <ToolTip>Test name</ToolTip>
          <Default>TestName</Default>
          <Function>
          </Function>
        </Literal>
      </Declarations>
      <Code Language="csharp" Delimiter="$"><![CDATA[[TestCaseInstanceSource(nameof($MethodName$TestCases))]
public void $MethodName$_$TestName$()
{
	$end$
}
		
private IEnumerable<TestCaseData> $MethodName$TestCases => TestCases(
);]]></Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>