<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <SnippetTypes>
        <SnippetType>Expansion</SnippetType>
      </SnippetTypes>
      <Title>TestMethodAsync</Title>
      <Author>Igor Eroshkin</Author>
      <Description>Code snippet for async test method</Description>
      <HelpUrl>
      </HelpUrl>
      <Shortcut>tma</Shortcut>
    </Header>
    <Snippet>
      <Imports>
        <Import>
          <Namespace>NUnit.Framework</Namespace>
        </Import>
        <Import>
          <Namespace>System.Threading.Tasks</Namespace>
        </Import>
      </Imports>
      <Declarations>
        <Literal Editable="true">
          <ID>MethodName</ID>
          <ToolTip>Method name for testing</ToolTip>
          <Default>MethodName</Default>
          <Function>
          </Function>
        </Literal>
        <Literal Editable="true">
          <ID>TestName</ID>
          <ToolTip>Test name</ToolTip>
          <Default>TestName</Default>
          <Function>
          </Function>
        </Literal>
      </Declarations>
      <Code Language="csharp" Delimiter="$"><![CDATA[[Test]
public async Task $MethodName$Async_$TestName$()
{
	$end$
}]]></Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>